<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Sign up Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="jquery-1.12.4.min.js"></script> -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
</head>
<script src="app.js"> </script>
<body>
<!-- <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='uo.jpg' style='width:100%;height:100%' alt='[]' />
</div> -->
    <div ng-app="myApp" ng-controller="controller">
        
        <div class="container">
            <div class="card card-container">
                <form class="form-signin" data-toggle="validator" role="form">
                    <h3 id="login" align="center"> Welcome new user!</h3>
                    <br>
                    Email address:
                    <input ng-model="userName" type="email" id="inputEmail" class="form-control" placeholder="username@uoregon.edu">
                    Password:
                    <input ng-model="password" type="password" id="inputPassword" class="form-control">
                    
					What is your sex? 
                    <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="NonBinary">  Non-binary <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="Male">  Male <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="Female">  Female <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="NA">  Prefer not to answer <br>
                    <br>

					Are you a UO Athlete?
                    <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="Yes">  Yes
                    <br>
                    <input ng-model="athlete" type="radio" id="inputType" class="form-check-input" value="No">  No
					<br><br>
					Weight:
                    <input ng-model="weight" type="number" min="0" id="weight" class="form-control" placeholder="Weight in pounds">
                    Height:
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="number" min="0"ng-model="feet" id="inputType" class="form-control" placeholder="Height in feet">
                        </div>
                        <div class="col-sm-6">
                            <input type = "number" min="0" ng-model="inches" id="inputType" class="form-control" placeholder="Height in inches">
                        </div>
                    </div>
                    I am interested in:
                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-cardio" data-toggle="button" aria-pressed="false"  type="submit" onclick="c_click()"> Cardio </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-warning btn-strength" data-toggle="button" aria-pressed="false" type="submit" onclick="s_click()">Strength Training
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="weightAlert()" onclick="page_portal()">Register now!
                    </button>
                    <script type="text/javascript">
                    var link = "";
                    function c_click(){
                        link = "cardio";
                    }
                    function s_click(){
                        link = "strength";
                    }
                    function page_portal(){
                        if (link=="cardio")
                            location.href="cardio.html";
                        else if (link=="strength")
                            location.href="strength.html";
                    
                    }
                    </script>
                </form><!-- /form -->
            </div><!-- /card-container -->
        </div><!-- /container -->
    </div>
</body>
</html>


user - userid, type (athlete or not)
stats- statsid, userid, weight, height, goal, bmi, routine
routine links to cardio or strength